<h1>Additional Resources</h1>
<p>
	I hope you have enjoyed reading my how-to guide and that it has inspired you to go now and test out the NASA OpenAPI. If you are looking for more information about anything discussed in 
	the guide, I have included a list of useful links to documentation below:
	<ul>
		<li><strong>Browser AJAX Requests</strong> - <a href="https://developer.mozilla.org/en-US/docs/AJAX/Getting_Started">https://developer.mozilla.org/en-US/docs/AJAX/Getting_Started</a></li>
		<li><strong>Node js</strong> - <a href="https://nodejs.org/en/">https://nodejs.org/en/</a></li>
		<li><strong>Request (for node js)</strong> - <a href="https://www.npmjs.com/package/request">https://www.npmjs.com/package/request</a></li>
	</ul>
</p>